// Menu Button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    visibility: hidden;

    &:hover {
        .btn-line {
            background-color: $secondary-color;
            @include easeOut();
        }
    }

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: set-text-color($primary-color);
        @include easeOut;
    }

    // Rotate Into X With Menu Lines
    &.close {
        transform: rotate(360deg);

        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }
            // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

input {
    display: none;
    // visibility: hidden;
}


.menu {

    position: relative;
    top: 0;
    width: 100%;
    // opacity:  $background-opacity;
    display: flex;
    flex-flow: row;
    // justify-content: space-between;
    margin: 0;
    padding: 0;
    z-index: 3;
    // transform:  translate3d(0, -100%, 0);
    @include easeOut;
    
    &.show {
        transform: translate3d(0,0,0);
    }

    .menu-nav {

        // opacity:  $background-opacity;
        display: flex;
        flex-flow: row;
        width: 100%;
        // height: 17vh;
        align-items: center;
        justify-content: space-around;
        float: right;
        margin: 0;
        padding: 0;
        background: darken($primary-color, $amount: 15);
        
        list-style: none;

        // @include easeOut;
    }

    #company-name {
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
        opacity: 1;
        font-size: 2rem;
    }
    
    .nav-item {
        // @include easeOut;

        &.current > a {
            color: $secondary-color;
        }
    }

    .nav-link {
        font-size: 1.5rem;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        font-weight: 300;
        color: set-text-color($primary-color);
        text-decoration: none;
        // @include easeOut;

        &:hover {
            color: $secondary-color;
        }
    }
}