
 // Desktops & Laptops
@include mediaLg {
    
    h1,
    h2,
    h3 {
        &.lg-heading {
            font-size: 4rem;
        }
        &.sm-heading {
            font-size: 2rem;
        }
    }
    .menu {
        transform: translate(0, -100%, 0);

        .nav-link {
            font-size: 1.5rem;
        }
    }
}
// Smartphones
@include mediaSm {
    main {
        padding: 2rem;
        margin-top: 10vh;

        &#home {
            flex-flow: column;
            padding-right: 2%;
            padding-left: 2%;
        }

        .page-images {
            flex-flow: row;
            justify-content: center;
            padding: 2rem;
        }
    }

    .menu-btn {
        visibility: visible;
    }
    
    
    .menu {
        transform:  translate3d(0, -100%, 0);
        opacity: 1;

        .logo {
            height: 0;
            visibility: hidden;
        }

        #company-name {
            border-style: none;
            height: inherit;
            margin-bottom: 1rem;
            text-align: center;
        }

        .menu-nav {
            flex-flow: column;
        }

        .nav-item {
            width: 100%;
            border-style: solid;
            border-color: #000;
            border-width: 0px 0px 1px 0px;
            justify-content: center;
        }
        .nav-link {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}