@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

// Specifying header layout for front page
#front-page {
    position: sticky;
    top: 0;
    // margin-top: 60vh;
    // margin-bottom: 10vh;
    z-index: 3;
}

body {
    @include background;
    // background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        // text-align: center;
        font-size: 4rem;
    }

    &.sm-heading {
        // margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        font-weight: 400;
        font-size: 2rem;
        // background: rgba( lighten($primary-color, 2) , $background-opacity);
    }
} 

main {
    padding: 4rem;

    * {
        margin-right: 2rem;
        margin-left: 2rem;
        margin-top: 0;

        text-align: justify;
    }

    .content {
        opacity: 0.9;
        background-color: lighten($primary-color, $amount: 40);
        color: set-text-color(#fff);
        div {
            padding: 2rem;
        }
    }

    .page-images {
        display: flex;
        flex-flow: column;
    }

    &#page {
        display:flex;
        
    }

    &#home {
        display: flex;
        // justify-content: center;
        flex-flow: column;

        .title {
            width: 100%;
            padding: 1rem;
            font-size: 4rem;
            margin-top: 10vh;
            text-align: center;
        }

        // Sections to display image and text on main page
        .section-left {
            // margin-top: 10vh;
            position: relative;
            img {
                width: 60vw;
                height: 30vw;
                margin: 0;
                z-index: 1;
            }
            
            .description {
                position: absolute;
                left: 30vw;
                top: 5vw;
                height: 20vw;
                z-index: 2;
                background-color: $secondary-color;
                color: set-text-color($secondary-color);
                padding: 2rem;
                opacity: calc(#{$background-opacity} + 0.1);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .section-right {

            // margin-top: 10vh;
            position: relative;
            height: 30vw;
            img {
                width: 60vw;
                height: 30vw;
                position: absolute;
                right: 0;
                margin: 0;
                z-index: 1;
            }
            
            .description {
                position: absolute;
                right: 30vw;
                top: 5vw;
                height: 20vw;
                z-index: 2;
                background-color: $secondary-color;
                color: set-text-color($secondary-color);
                padding: 2rem;
                opacity: calc(#{$background-opacity} + 0.1);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
    }

}

@import 'mobile';