@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        // text-align: center;
        font-size: 6rem;
    }

    &.sm-heading {
        // margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        font-weight: 400;
        font-size: 3rem;
        // background: rgba( lighten($primary-color, 2) , $background-opacity);
    }
} 

main {
    padding: 4rem;
    min-height: calc(100vh-60vh);
    margin-top: 20vh;
    // align-items: stretch;

    * {
        margin-right: 2rem;
        margin-left: 2rem;
        margin-top: 0;

        text-align: justify;
    }

    &#home {
        display:flex;
        justify-content: center;
        padding-right: 15%;
        padding-left: 15%;

        .h3.sm-heading {
            padding-top: 0;
        }

        .logo {
            width: 100px;
        }
    }
}